#ribon{
    background-color: rgb(218, 2, 2);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,rgba(204, 0, 0, 0.849) 25px, rgba(204, 0, 0,0.849) 40px);
}
#ribon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#logo{
    background-color: rgb(218, 2, 2);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#logo img{
    position: relative;
    margin-top: -30px;
}
#separator_ribon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator_ribon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
#quienes_somos{
    background-color: black;
    background: url(IMG-20230828-WA0052.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -20px;
}
#separator-section{

    background-color: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2%;
}
#separator-section .content{
    background: url(bg-03.png);
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}